Repository ninachaubal/organization-configuration-tool-j0w93u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @frontend-team, @devops-team, @docs-team, @data-team, @qa-team, @security-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/package.json
  src/backend/package.json
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__fixtures__/configurations.json
  src/backend/__fixtures__/configurations.json
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__fixtures__/organizations.json
  src/backend/__fixtures__/organizations.json
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__mocks__/dynamodb.ts
  src/backend/__mocks__/dynamodb.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__mocks__/electrodb.ts
  src/backend/__mocks__/electrodb.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__tests__/api/organizations.id.config.test.ts
  src/backend/__tests__/api/organizations.id.config.test.ts
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__tests__/api/organizations.id.config.type.test.ts
  src/backend/__tests__/api/organizations.id.config.type.test.ts
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__tests__/api/organizations.id.test.ts
  src/backend/__tests__/api/organizations.id.test.ts
Owners: @backend-team, @qa-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__tests__/api/organizations.test.ts
  src/backend/__tests__/api/organizations.test.ts
Owners: @backend-team, @qa-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__tests__/middleware/auth.test.ts
  src/backend/__tests__/middleware/auth.test.ts
Owners: @backend-team, @qa-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__tests__/middleware/validation.test.ts
  src/backend/__tests__/middleware/validation.test.ts
Owners: @backend-team, @qa-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__tests__/services/ConfigurationService.test.ts
  src/backend/__tests__/services/ConfigurationService.test.ts
Owners: @backend-team, @qa-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__tests__/services/OrganizationService.test.ts
  src/backend/__tests__/services/OrganizationService.test.ts
Owners: @backend-team, @qa-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__tests__/utils/error-handling.test.ts
  src/backend/__tests__/utils/error-handling.test.ts
Owners: @backend-team, @qa-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/__tests__/utils/validation.test.ts
  src/backend/__tests__/utils/validation.test.ts
Owners: @backend-team, @qa-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/api/health/db.ts
  src/backend/api/health/db.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/api/health/index.ts
  src/backend/api/health/index.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/api/organizations/index.ts
  src/backend/api/organizations/index.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/api/organizations/[id]/index.ts
  src/backend/api/organizations/[id]/index.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/api/organizations/[id]/config/index.ts
  src/backend/api/organizations/[id]/config/index.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/api/organizations/[id]/config/[type]/index.ts
  src/backend/api/organizations/[id]/config/[type]/index.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/config/constants.ts
  src/backend/config/constants.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/config/database.ts
  src/backend/config/database.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/config/environment.ts
  src/backend/config/environment.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/data/adapters/ElectroDBAdapter.ts
  src/backend/data/adapters/ElectroDBAdapter.ts
Owners: @data-team, @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/data/adapters/index.ts
  src/backend/data/adapters/index.ts
Owners: @data-team, @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/data/entities/OrganizationConfiguration.ts
  src/backend/data/entities/OrganizationConfiguration.ts
Owners: @data-team, @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/data/entities/index.ts
  src/backend/data/entities/index.ts
Owners: @data-team, @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/middleware/auth.ts
  src/backend/middleware/auth.ts
Owners: @security-team, @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/middleware/error.ts
  src/backend/middleware/error.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/middleware/index.ts
  src/backend/middleware/index.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/middleware/logging.ts
  src/backend/middleware/logging.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/middleware/validation.ts
  src/backend/middleware/validation.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/models/BrazeConfig.ts
  src/backend/models/BrazeConfig.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/models/BuyTab.ts
  src/backend/models/BuyTab.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/models/ConfigurationRecord.ts
  src/backend/models/ConfigurationRecord.ts
Owners: @backend-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @admin-team

# Backend code ownership
/src/backend/ @backend-team
/src/web/app/api/ @backend-team

# Frontend code ownership
/src/web/ @frontend-team

# Infrastructure code ownership
/infrastructure/ @devops-team

# Documentation ownership
/docs/ @docs-team @admin-team

# GitHub workflows and configuration
/.github/ @devops-team

# Specific component ownership
/src/backend/data/ @data-team @backend-team
/src/backend/services/ @backend-team
/src/backend/validation/ @backend-team
/src/web/components/ @frontend-team
/src/web/hooks/ @frontend-team

# Test files
/src/backend/__tests__/ @backend-team @qa-team
/src/web/__tests__/ @frontend-team @qa-team

# Configuration files
*.json @admin-team @devops-team
*.yml @admin-team @devops-team
*.config.* @admin-team @devops-team

# Security-sensitive files
/src/backend/middleware/auth.ts @security-team @backend-team
/infrastructure/cdk/lib/iam-stack.ts @security-team @devops-team
