Repository ninachaubal/organization-configuration-tool-j0w93u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @frontend-team, @devops-team, @docs-team, @data-team, @qa-team, @security-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/models/CustomerServiceConfig.ts
  src/backend/models/CustomerServiceConfig.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/models/Organization.ts
  src/backend/models/Organization.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/models/OrganizationCourtCashConfig.ts
  src/backend/models/OrganizationCourtCashConfig.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/models/ProfileField.ts
  src/backend/models/ProfileField.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/models/index.ts
  src/backend/models/index.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/models/enums/OrganizationConfigType.ts
  src/backend/models/enums/OrganizationConfigType.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/models/enums/OrganizationFieldName.ts
  src/backend/models/enums/OrganizationFieldName.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/models/enums/index.ts
  src/backend/models/enums/index.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/services/ConfigurationService.ts
  src/backend/services/ConfigurationService.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/services/OrganizationService.ts
  src/backend/services/OrganizationService.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/services/index.ts
  src/backend/services/index.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/types/api.ts
  src/backend/types/api.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/types/configuration.ts
  src/backend/types/configuration.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/types/error.ts
  src/backend/types/error.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/types/index.ts
  src/backend/types/index.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/types/request.ts
  src/backend/types/request.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/types/response.ts
  src/backend/types/response.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/utils/error-handling.ts
  src/backend/utils/error-handling.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/utils/formatting.ts
  src/backend/utils/formatting.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/utils/index.ts
  src/backend/utils/index.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/utils/logging.ts
  src/backend/utils/logging.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/utils/validation.ts
  src/backend/utils/validation.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/validation/index.ts
  src/backend/validation/index.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/validation/schemas/clientConfig.ts
  src/backend/validation/schemas/clientConfig.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/validation/schemas/clientConfigAndroid.ts
  src/backend/validation/schemas/clientConfigAndroid.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/validation/schemas/clientConfigIOS.ts
  src/backend/validation/schemas/clientConfigIOS.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/validation/schemas/index.ts
  src/backend/validation/schemas/index.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/validation/schemas/organization.ts
  src/backend/validation/schemas/organization.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/backend/validation/schemas/organizationConfig.ts
  src/backend/validation/schemas/organizationConfig.ts
Owners: @backend-team

Add public-samples/organization-configuration-tool-j0w93u/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/organization-configuration-tool-j0w93u/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/web/next.config.js
  src/web/next.config.js
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/web/package.json
  src/web/package.json
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/src/web/__mocks__/api-handlers.ts
  src/web/__mocks__/api-handlers.ts
Owners: @frontend-team

Add public-samples/organization-configuration-tool-j0w93u/src/web/__mocks__/data.ts
  src/web/__mocks__/data.ts
Owners: @frontend-team

Add public-samples/organization-configuration-tool-j0w93u/src/web/__tests__/components/ConfigurationDisplay.test.tsx
  src/web/__tests__/components/ConfigurationDisplay.test.tsx
Owners: @frontend-team, @qa-team

Add public-samples/organization-configuration-tool-j0w93u/src/web/__tests__/components/ConfigurationTabs.test.tsx
  src/web/__tests__/components/ConfigurationTabs.test.tsx
Owners: @frontend-team, @qa-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @admin-team

# Backend code ownership
/src/backend/ @backend-team
/src/web/app/api/ @backend-team

# Frontend code ownership
/src/web/ @frontend-team

# Infrastructure code ownership
/infrastructure/ @devops-team

# Documentation ownership
/docs/ @docs-team @admin-team

# GitHub workflows and configuration
/.github/ @devops-team

# Specific component ownership
/src/backend/data/ @data-team @backend-team
/src/backend/services/ @backend-team
/src/backend/validation/ @backend-team
/src/web/components/ @frontend-team
/src/web/hooks/ @frontend-team

# Test files
/src/backend/__tests__/ @backend-team @qa-team
/src/web/__tests__/ @frontend-team @qa-team

# Configuration files
*.json @admin-team @devops-team
*.yml @admin-team @devops-team
*.config.* @admin-team @devops-team

# Security-sensitive files
/src/backend/middleware/auth.ts @security-team @backend-team
/infrastructure/cdk/lib/iam-stack.ts @security-team @devops-team
