Repository ninachaubal/organization-configuration-tool-j0w93u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @backend-team, @frontend-team, @devops-team, @docs-team, @data-team, @qa-team, @security-team

Add public-samples/organization-configuration-tool-j0w93u/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/.github/workflows/deploy-dev.yml
  .github/workflows/deploy-dev.yml
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/.github/workflows/deploy-prod.yml
  .github/workflows/deploy-prod.yml
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/.github/workflows/deploy-test.yml
  .github/workflows/deploy-test.yml
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @admin-team

Add public-samples/organization-configuration-tool-j0w93u/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @admin-team

Add public-samples/organization-configuration-tool-j0w93u/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @admin-team

Add public-samples/organization-configuration-tool-j0w93u/docs/README.md
  docs/README.md
Owners: @docs-team, @admin-team

Add public-samples/organization-configuration-tool-j0w93u/docs/api/configurations.md
  docs/api/configurations.md
Owners: @docs-team, @admin-team

Add public-samples/organization-configuration-tool-j0w93u/docs/api/organizations.md
  docs/api/organizations.md
Owners: @docs-team, @admin-team

Add public-samples/organization-configuration-tool-j0w93u/docs/architecture/data-model.md
  docs/architecture/data-model.md
Owners: @docs-team, @admin-team

Add public-samples/organization-configuration-tool-j0w93u/docs/architecture/high-level-overview.md
  docs/architecture/high-level-overview.md
Owners: @docs-team, @admin-team

Add public-samples/organization-configuration-tool-j0w93u/docs/architecture/security.md
  docs/architecture/security.md
Owners: @docs-team, @admin-team

Add public-samples/organization-configuration-tool-j0w93u/docs/monitoring/alerts.md
  docs/monitoring/alerts.md
Owners: @docs-team, @admin-team

Add public-samples/organization-configuration-tool-j0w93u/docs/monitoring/dashboards.md
  docs/monitoring/dashboards.md
Owners: @docs-team, @admin-team

Add public-samples/organization-configuration-tool-j0w93u/docs/setup/deployment.md
  docs/setup/deployment.md
Owners: @docs-team, @admin-team

Add public-samples/organization-configuration-tool-j0w93u/docs/setup/environment-variables.md
  docs/setup/environment-variables.md
Owners: @docs-team, @admin-team

Add public-samples/organization-configuration-tool-j0w93u/docs/setup/local-development.md
  docs/setup/local-development.md
Owners: @docs-team, @admin-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/cdk/.gitignore
  infrastructure/cdk/.gitignore
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/cdk/cdk.json
  infrastructure/cdk/cdk.json
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/cdk/jest.config.js
  infrastructure/cdk/jest.config.js
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/cdk/package.json
  infrastructure/cdk/package.json
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/cdk/tsconfig.json
  infrastructure/cdk/tsconfig.json
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/cdk/bin/infrastructure.ts
  infrastructure/cdk/bin/infrastructure.ts
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/cdk/lib/amplify-stack.ts
  infrastructure/cdk/lib/amplify-stack.ts
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/cdk/lib/cloudfront-stack.ts
  infrastructure/cdk/lib/cloudfront-stack.ts
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/cdk/lib/dynamodb-stack.ts
  infrastructure/cdk/lib/dynamodb-stack.ts
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/cdk/lib/iam-stack.ts
  infrastructure/cdk/lib/iam-stack.ts
Owners: @security-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/cdk/lib/monitoring-stack.ts
  infrastructure/cdk/lib/monitoring-stack.ts
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/cdk/test/amplify-stack.test.ts
  infrastructure/cdk/test/amplify-stack.test.ts
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/cdk/test/dynamodb-stack.test.ts
  infrastructure/cdk/test/dynamodb-stack.test.ts
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/config/dev.json
  infrastructure/config/dev.json
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/config/prod.json
  infrastructure/config/prod.json
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/config/test.json
  infrastructure/config/test.json
Owners: @admin-team, @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/scripts/backup-dynamodb.sh
  infrastructure/scripts/backup-dynamodb.sh
Owners: @devops-team

Add public-samples/organization-configuration-tool-j0w93u/infrastructure/scripts/bootstrap-environment.sh
  infrastructure/scripts/bootstrap-environment.sh
Owners: @devops-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @admin-team

# Backend code ownership
/src/backend/ @backend-team
/src/web/app/api/ @backend-team

# Frontend code ownership
/src/web/ @frontend-team

# Infrastructure code ownership
/infrastructure/ @devops-team

# Documentation ownership
/docs/ @docs-team @admin-team

# GitHub workflows and configuration
/.github/ @devops-team

# Specific component ownership
/src/backend/data/ @data-team @backend-team
/src/backend/services/ @backend-team
/src/backend/validation/ @backend-team
/src/web/components/ @frontend-team
/src/web/hooks/ @frontend-team

# Test files
/src/backend/__tests__/ @backend-team @qa-team
/src/web/__tests__/ @frontend-team @qa-team

# Configuration files
*.json @admin-team @devops-team
*.yml @admin-team @devops-team
*.config.* @admin-team @devops-team

# Security-sensitive files
/src/backend/middleware/auth.ts @security-team @backend-team
/infrastructure/cdk/lib/iam-stack.ts @security-team @devops-team
